<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //CSS
    link(rel="stylesheet", href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/index.css")
    title Pagination in JS Vanilla
  body

    header#header
      .container
        ul.nav__list
          li.nav__item
            span 
              i.icon.ion-md-briefcase
            h1 Emplois
    main#main
      .container
        ul.card-list

        
        ul.card-numbers__list-btn



    script(src="assets/js/index.js")